* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%); 
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 75vw;
    border: #2487ff 2px solid;
    border-radius: 5vh;
    padding: 5vh;
    background: rgba(108, 137, 255, 0.1) ;
}

.titulo {
    text-align: center;

    & h2 {
        color: #1875E8;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        margin-top: 2vh;
        width: 50%;
    }
}

input {
    border-radius: 5vh;
    height: 5vh;
    color: black;
    padding: 0 2vh;
    border: 0;
    width: 80%;
    margin: 2vh 0 0 0;

    &:focus {
        outline: none;
    }
}

button {
    background: #1875E8;
    border-radius: 5vh;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    height: 5vh;
}

.total {
    text-align: center;
    margin-top: 2vh;
}

.tabla {
    border-radius: 5vh;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 2vh;
    overflow: hidden;
}

table {
    display: table;
    border-collapse: collapse;
    border-color: inherit;
    width: 100%;
    text-align: left;

    & .valor {
        width: 15%;
    }

    & th {
        font-weight: bold;
        padding: 2vh 2vw;
        background: rgba(200, 200, 200, 0.3);
    }

    & td {
        border-bottom: 1px solid white;
        padding: 1vh 2vw;
    }

    & tr:first-child td {
        border-top: 2px solid white;
    }

    & tr:last-child td {
        border-bottom: none;
        padding: 1vh 2vw 2vh 2vw;
    }

    & tbody tr:nth-child(even) td {
        background: rgba(255, 255, 255, 0.1);
    }

    & button {
        padding: 0 1vw;
    }
}